<section id="banner">
  <header>
    <h2>Hi. You're looking at <strong>Helios</strong>.</h2>
  </header>
</section>

<!-- Carousel -->
<% if @questions.any? %>
  <section class="carousel">
    <div class="reel">
      <% @questions.each do |question| %>
        <article>
          <a class="image featured"><%= image_tag "pic01.jpg" %></a>
          <header>
            <h3><a>Would you rather...</a></h3>
          </header>
          <p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
        </article>
      <% end %>
    </div>
  </section>
<% end %>
